//-----------------------------------------------------------------
// Henway Resources
// RC Source - Henway.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_HENWAY         ICON         "Henway.ico"
IDI_HENWAY_SM      ICON         "Henway_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_HIGHWAY        BITMAP       "Highway.bmp"
IDB_CHICKEN        BITMAP       "Chicken.bmp"
IDB_CAR1           BITMAP       "Car1.bmp"
IDB_CAR2           BITMAP       "Car2.bmp"
IDB_CAR3           BITMAP       "Car3.bmp"
IDB_CAR4           BITMAP       "Car4.bmp"
IDB_CHICKENHEAD    BITMAP       "ChickenHead.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
IDW_CARHORN1       WAVE         "CarHorn1.wav"
IDW_CARHORN2       WAVE         "CarHorn2.wav"
IDW_SQUISH         WAVE         "Squish.wav"
IDW_CELEBRATE      WAVE         "Celebrate.wav"
IDW_GAMEOVER       WAVE         "GameOver.wav"
