#include "windows.h"
#include "resource.h"

IDI_ICON       ICON     "Res/Planets.ico"
IDI_ICON_SM    ICON     "Res/Planets_sm.ico"

IDB_GALAXY     BITMAP   "Res/Galaxy.bmp"
IDB_PLANET1    BITMAP   "Res/Planet1.bmp"
IDB_PLANET2    BITMAP   "Res/Planet2.bmp"
IDB_PLANET3    BITMAP   "Res/Planet3.bmp"

IDD_ABOUT   DIALOG   32, 32, 180, 102
CAPTION "About..."
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
{
   ICON           IDI_ICON, IDC_STATIC, 7, 7, 20, 20, SS_SUNKEN
   CTEXT          "Planets2", IDC_STATIC, 40, 12, 100, 8

   CTEXT          "Managing a World of Sprites", IDC_STATIC, 7, 35, 166, 8
   CTEXT          "© This Year, Your Name", IDC_STATIC, 7, 47, 166, 8

   DEFPUSHBUTTON  "OK", IDOK, 66, 81, 50, 14
}

IDR_MENU MENU
{
   POPUP "&Game"
   {
      //MENUITEM "&New\tCTRL+N",    IDM_GAME_NEW GRAYED
      //MENUITEM SEPARATOR
      MENUITEM "E&xit\tALT + F4", IDM_GAME_EXIT
   }

POPUP "&Help"
   {
      MENUITEM "&About...\tF1",   IDM_HELP_ABOUT
   }
}

IDR_ACCELERATORS ACCELERATORS
{
   "^N",  IDM_GAME_NEW
   VK_F1, IDM_HELP_ABOUT, VIRTKEY
}