#include "windows.h"
#include "resource.h"

IDI_ICON    ICON     DISCARDABLE    "MeteorDefense.ico"
IDC_CURSOR  CURSOR   DISCARDABLE    "MeteorDefense.cur"

IDB_GROUND     BITMAP   DISCARDABLE    "Ground.bmp"
IDB_CITY       BITMAP   DISCARDABLE    "City.bmp"
IDB_METEOR     BITMAP   DISCARDABLE    "Meteor.bmp"
IDB_MISSILE    BITMAP   DISCARDABLE    "Missile.bmp"
IDB_EXPLOSION  BITMAP   DISCARDABLE    "Explosion.bmp"
IDB_GAMEOVER   BITMAP   DISCARDABLE    "GameOver.bmp"

IDW_FIRE       WAVE     DISCARDABLE    "Fire.wav"
IDW_EXPLODE    WAVE     DISCARDABLE    "Explode.wav"
IDW_BIGEXPLODE WAVE     DISCARDABLE    "BigExplode.wav"

IDD_ABOUT   DIALOG   DISCARDABLE    32, 32, 180, 102
CAPTION "About..."
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
{
   ICON           IDI_ICON, IDC_STATIC, 7, 7, 20, 20, SS_SUNKEN
   CTEXT          "MeteorDefense", IDC_STATIC, 40, 12, 100, 8

   CTEXT          "Example Game", IDC_STATIC, 7, 35, 166, 8
   CTEXT          "© Your Name, 2005", IDC_STATIC, 7, 47, 166, 8

   DEFPUSHBUTTON  "OK", IDOK, 66, 81, 50, 14
}

IDR_MENU    MENU     DISCARDABLE
{
   POPUP "&Game"
   {
      MENUITEM "&New",        IDM_GAME_NEW
      MENUITEM SEPARATOR
      MENUITEM "E&xit",       IDM_GAME_EXIT
   }

   POPUP "&Help"
   {
      MENUITEM "&About...",   IDM_HELP_ABOUT
   }
}
