#include <windows.h>
#include "resource.h"

IDI_ICON            ICON   "Res/LightCycles.ico"
IDI_ICOM_SM         ICON   "Res/LightCycles_sm.ico"

IDB_BACKGROUND      BITMAP "Res/Background.bmp"
IDB_CYCLEBLUE_0     BITMAP "Res/CycleBlue_0.bmp"
IDB_CYCLEBLUE_90    BITMAP "Res/CycleBlue_90.bmp"
IDB_CYCLEBLUE_180   BITMAP "Res/CycleBlue_180.bmp"
IDB_CYCLEBLUE_270   BITMAP "Res/CycleBlue_270.bmp"
IDB_CYCLEORANGE_0   BITMAP "Res/CycleOrange_0.bmp"
IDB_CYCLEORANGE_90  BITMAP "Res/CycleOrange_90.bmp"
IDB_CYCLEORANGE_180 BITMAP "Res/CycleOrange_180.bmp"
IDB_CYCLEORANGE_270 BITMAP "Res/CycleOrange_270.bmp"

IDD_ABOUT   DIALOG   32, 32, 180, 102
CAPTION "About..."
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
{
   ICON          IDI_ICON,         IDC_STATIC,  7,  7,  20, 20, SS_SUNKEN
   CTEXT         "Light Cycles b", IDC_STATIC, 40, 12, 100,  8

   CTEXT         "Example Game: Light Cycles", IDC_STATIC, 7, 35, 166, 8
   CTEXT         "© This Year, Your Name",     IDC_STATIC, 7, 47, 166, 8

   DEFPUSHBUTTON "OK", IDOK, 66, 81, 50, 14
}

IDR_MENU MENU
{
   POPUP "&Game"
   {
      MENUITEM "&New\tCtrl + N",  IDM_GAME_NEW
      MENUITEM SEPARATOR
      MENUITEM "E&xit\tALT + F4", IDM_GAME_EXIT
   }

POPUP "&Help"
   {
      MENUITEM "&About...\tF1", IDM_HELP_ABOUT
   }
}

IDR_ACCELERATORS ACCELERATORS
{
   "N",   IDM_GAME_NEW,   VIRTKEY, CONTROL
   VK_F1, IDM_HELP_ABOUT, VIRTKEY
}
