#include "windows.h"
#include "resource.h"

IDI_ICON          ICON     "Res/Henway.ico"
IDI_ICON_SM       ICON     "Res/Henway.ico"

IDB_CAR1          BITMAP   "Res/Car1.bmp"
IDB_CAR2          BITMAP   "Res/Car2.bmp"
IDB_CAR3          BITMAP   "Res/Car3.bmp"
IDB_CAR4          BITMAP   "Res/Car4.bmp"
IDB_HIGHWAY       BITMAP   "Res/Highway.bmp"
IDB_CHICKEN       BITMAP   "Res/Chicken.bmp"
IDB_CHICKENHEAD   BITMAP   "Res/ChickenHead.bmp"

IDD_ABOUT   DIALOG   32, 32, 180, 102
CAPTION "About..."
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
{
   ICON           IDI_ICON, IDC_STATIC, 7, 7, 20, 20, SS_SUNKEN
   CTEXT          "Henway", IDC_STATIC, 40, 12, 100, 8

   CTEXT          "Example Game", IDC_STATIC, 7, 35, 166, 8
   CTEXT          "© This Year, Your Name", IDC_STATIC, 7, 47, 166, 8

   DEFPUSHBUTTON  "OK", IDOK, 66, 81, 50, 14
}

IDR_MENU    MENU
{
   POPUP "&Game"
   {
      MENUITEM "&New\tCTRL + N",    IDM_GAME_NEW GRAYED
      MENUITEM SEPARATOR
      MENUITEM "E&xit\tALT + F4", IDM_GAME_EXIT
   }

   POPUP "&Help"
   {
      MENUITEM "&About...",   IDM_HELP_ABOUT
   }
}

IDR_ACCELERATORS ACCELERATORS
{
   "^N",    IDM_GAME_NEW
   VK_F1,   IDM_HELP_ABOUT,   VIRTKEY
}