//-----------------------------------------------------------------
// Battle Office 2 Resources
// RC Source - BattleOffice.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BATTLEOFFICE    ICON         "BattleOffice.ico"
IDI_BATTLEOFFICE_SM ICON         "BattleOffice_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_OFFICE          BITMAP       "Office.bmp"
IDB_TARGET          BITMAP       "Target.bmp"
IDB_POW             BITMAP       "Pow.bmp"
IDB_GUY1            BITMAP       "Guy1.bmp"
IDB_GUY2            BITMAP       "Guy2.bmp"
IDB_GUY3            BITMAP       "Guy3.bmp"
IDB_GUY4            BITMAP       "Guy4.bmp"
IDB_GUY5            BITMAP       "Guy5.bmp"
IDB_SMALLGUY        BITMAP       "SmallGuy.bmp"
IDB_GAMEOVER        BITMAP       "GameOver.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
IDW_WHACK           WAVE         "Whack.wav"
IDW_TAUNT           WAVE         "Taunt.wav"
IDW_BOO             WAVE         "Boo.wav"
