//-----------------------------------------------------------------
// Trippy Resources
// RC Source - Trippy.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_TRIPPY         ICON         "Trippy.ico"
IDI_TRIPPY_SM      ICON         "Trippy_sm.ico"
