// 1-4_Skeleton Minimal.rc - resource definitions

// include the resource identifiers
#include "resource.h"

// define the icon(s)
IDI_SKELETON    ICON "Res/Skeleton.ico"
IDI_SKELETON_SM ICON "Res/Skeleton_sm.ico"