//-----------------------------------------------------------------
// Blizzard Resources
// RC Source - Blizzard.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_ICON    ICON "Res\\Blizzard.ico"
IDI_ICON_SM ICON "Res\\Blizzard_sm.ico"
