//-----------------------------------------------------------------
// Fore Resources
// RC Source - Fore.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_FORE           ICON         "Fore.ico"
IDI_FORE_SM        ICON         "Fore_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_FOREST         BITMAP       "Forest.bmp"
IDB_GOLFBALL       BITMAP       "GolfBall.bmp"
