//-----------------------------------------------------------------
// Brainiac Resources
// RC Source - Brainiac.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BRAINIAC       ICON         "Brainiac.ico"
IDI_BRAINIAC_SM    ICON         "Brainiac_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_TILEBLANK      BITMAP       "TileBlank.bmp"
IDB_TILE1          BITMAP       "Tile1.bmp"
IDB_TILE2          BITMAP       "Tile2.bmp"
IDB_TILE3          BITMAP       "Tile3.bmp"
IDB_TILE4          BITMAP       "Tile4.bmp"
IDB_TILE5          BITMAP       "Tile5.bmp"
IDB_TILE6          BITMAP       "Tile6.bmp"
IDB_TILE7          BITMAP       "Tile7.bmp"
IDB_TILE8          BITMAP       "Tile8.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
IDW_SELECT         WAVE         "Select.wav"
IDW_MATCH          WAVE         "Match.wav"
IDW_MISMATCH       WAVE         "Mismatch.wav"
IDW_WIN            WAVE         "Win.wav"
